<div class="row">
  <div class="card-panel hoverable col s12 m4">
    <div class="home-box">
      <i class="material-icons center-align">done_all</i>
      <div><h6 class="flow-text">Create, share, and search bucket lists.
        Nothing will happen if you don't do it. Get Started!</h6>
        <div class="card-action">
          <%= link_to 'Create Account', new_bucket_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-panel hoverable col s12 m4">
    <div class="home-box">
      <i class="material-icons center-align">fingerprint</i>
      <div><h6 class="flow-text">Can't put your finger on it? Search other bucket lists to get
            ideas and advice</h6>
        <div class="card-action">
          <%= link_to 'Look Around' %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-panel hoverable col s12 m4">
    <div class="home-box">
      <i class="material-icons center-align">lightbulb_outline</i>
      <div><h6 class="flow-text">Browse our list of bucket list ideas. Add to your list.</h6>
        <div class="card-action">
          <%= link_to 'Search Our List' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac nulla gravida,
      vulputate odio id, interdum mi. Nulla sed nunc enim. Aenean iaculis sit amet urna eget
      sollicitudin. Sed eget efficitur turpis. Nam a elit ipsum. Nulla ultricies ex eget metus
      feugiat faucibus. Fusce ac nibh volutpat, porttitor magna sed, suscipit odio. Nullam varius
      fermentum arcu, sit amet placerat mi consequat at. Morbi sagittis semper erat, vel bibendum mauris.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec lacus enim,
      egestas id sem nec, gravida vulputate mauris.</p>
  </div>
</div>
