
<div class="col s12 m4 l3">
  <div class="card-panel">
    <section><%=link_to 'My Buckets', bucket_path(@bucket)%></section>
    <section><%=link_to 'Add Buckets', new_bucket_path(@bucket)%></section>
    <section><%=link_to 'Add Bucket List', new_bucket_item_path(@bucket)%></section>
  </div>
</div>
