<div id="topnav" class="row">
  <ul class="right hide-on-med-and-down">
    <div class="col s4 push-right">
      <% if current_account %>
        <li><%=link_to 'Sign-Out' %></li>
      <% else %>
        <li><%=link_to 'Sign-In' %></li>
      <% end %>
    </div>

    <div class="col s4 push-right">
      <li><%=link_to 'Create Account'%></li>
    </div>

    <div class="col s4 push-right">
      <li><%=link_to 'Search' %></li>
    </div>
  </ul>
</div>
